<div class="card" *ngIf="city">
    <div class="card-body">
      <h2 class="card-title">{{ city.name }}</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="card-text">
            <strong>Temperature:</strong>
            <span [class.text-danger]="city.main.temp > 30">
              {{ city.main.temp }}°C
            </span>
          </p>
          <p class="card-text">
            <strong>Feels like:</strong> {{ city.main.feels_like }}°C
          </p>
          <p class="card-text">
            <strong>Humidity:</strong> {{ city.main.humidity }}%
          </p>
          <p class="card-text">
            <strong>Wind speed:</strong> {{ city.wind.speed }} m/s
          </p>
          <p class="card-text">
            <strong>Description:</strong> {{ city.weather[0].description }}
          </p>
        </div>
          
      </div>
    </div>
  </div>
  